* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 3rem;
  font-size: 1.5rem;
  background-color: aqua;
}

.container {
  width: 80%;
  margin: auto;
}

main {
  padding-top: 3rem;

  .languages-buttons {
    display: flex;
    justify-content: space-evenly;

    .buttons {
      font-size: 1.5rem;
      background-color: rgb(61, 61, 255);
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: none;

      &:focus {
        background-color: orange;
        color: black;
      }
    }

  }

  .active {
    margin: 2rem;
    padding: 2rem 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    box-shadow: 4px 4px lightgray;
    font-size: 1.5rem;

    h3 {
      padding-bottom: 1rem;
    }
  }

  .hide {
    display: none;
  }


}