* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 3rem;
  font-size: 1.5rem;
  background-color: aqua;
}

.container {
  width: 80%;
  margin: auto;
}

main {
  padding-top: 3rem;

  .languages {
    display: flex;
    justify-content: space-evenly;

    .language {
      font-size: 1.5rem;
      background-color: rgb(61, 61, 255);
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: none;

      &:focus {
        background-color: orange;
        color: black;
      }
    }
  }

  .hide {
    display: none;
  }


}